@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

.nav-link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0;
    text-decoration: none;
    color: #b30000;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 15px;
    transition: color 0.3s ease;

    .nav-img {
        width: 15px;
    }

    /* barra animada */
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0%;
        background-color: #d94f4f;
        transition: width 0.3s ease;
    }

    &:hover,
    &.active {
        color: #8c2f2f;

        &::after {
        width: 100%; 
        }
    }
}
