@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Archivo', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    /*Tira o scroll*/
    overflow: hidden;
    /*Cores Primárias*/
    --cor-acent: #880000;
    --cor-primaria: #B30000;

    /*Cores de fundo*/
    --cor-fundo-base: #FFFFFF;
    --cor-fundo-secundaria: #FFCFCF;

    /*Cores de texto*/
    --cor-texto-padrao: #333333;
    --cor-texto-secundaria: #808080; 
}

/* Seção header */
.botoes {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: relative;
}

#btnVoltar, 
#btnEntrar {
    align-items: center;
    background: transparent;
    border: none;
    color: var(--cor-primaria); 
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    position: relative;
}

/* Estilização apenas do botão voltar */
#btnVoltar {
    align-items: center;
    background: none;
    border: none;
    color: var(--cor-primaria); 
    cursor: pointer;
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    gap: 0.4rem;
    text-decoration: none;
}

#btnVoltar img {
    height: 2rem;
    width: 2rem;
}

#btnVoltar > a {
    color: var(--cor-primaria); 
    text-decoration: none;
}

#btnVoltar:active {
    box-shadow: 0px 4px 0px 0px rgba(129, 127, 127, 0.13); 
    transform: translateY(4px); 
}
/* Fim da estilização */

/* Estilização do botão entrar */
#btnEntrar {
    background-color: var(--cor-primaria); 
    color: var(--cor-fundo-base); 
    padding: 1rem 4rem;
}
/* Fim da estilização */

/* Fim da seção header */


/* Seção main */

/* div form__principal, 
estilização do cointeiner */
.form__principal {
    background-color: var(--cor-fundo-base); 
    border-radius: 20px;
    bottom: 20rem;
    box-shadow:
        0 10px 30px rgba(33, 32, 32, 0.375), 
        0px 18px 0px 0px #E6E6E6;
    height: 35rem;
    margin-left: 35rem;
    margin-top: 19rem;
    padding-bottom: 2rem;
    position: relative;
    width: 28rem;
}

/* Estilização dos textos */
.form__title {
    color: var(--cor-primaria); 
    font-weight: 900;
    margin-left: 2rem;
    padding-top: 2.8rem;
}

.form__text {
    color: var(--cor-primaria); 
    margin-left: 2.1rem;
    margin-right: 2.1rem;
}

.form__text-small {
    color: var(--cor-primaria); 
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 1rem;
    margin-left: 2.1rem;
    margin-top: 2rem;
    text-transform: uppercase;
}

.descript {
    font-size: 0.9rem;
    margin-left: 2.1rem;
}
/* Fim da estilização do container */

/* Decoração do span */
.linha {
    align-items: center;
    color: var(--cor-primaria); 
    display: flex;
    font-weight: 900;
    text-align: center;
}

.linha::before,
.linha::after {
    border-bottom: 2px solid var(--cor-primaria); 
    content: "";
    flex: 1;
    position: relative;
}

.linha::before {
    margin-inline-start: 2.2em;
}

.linha::after {
    margin-inline-end: 2.9em;
}

/* Fim do span */

/* Estilização dos botões "selecionar" */
.botao {
    background-color: var(--cor-primaria); 
    border: none;
    border-radius: 8px; 
    box-shadow: 0px 8px 0px 0px var(--cor-acent); 
    color: var(--cor-fundo-base); 
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    transition: all 0.1s ease;
}

/* Efeito ao Pressionar (Simula o "click") */
.botao:active {
    box-shadow: 0px 4px 0px 0px var(--cor-acent); 
    transform: translateY(4px); 
}

#selecionar {
    display: inline-block;
    margin-bottom: 2rem;
    margin-left: 1.9rem;
    margin-top: 2rem;
    padding: .8rem 8.1rem;
}
/* Fim da estilização */

/* Fim da seção main */